name: Testing of scripts

on:
  schedule:
    - cron: '10 12 * * 5'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint -r algorithm/smart-attack/requirements.txt

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Check Python scripts
        run: |
          pylint algorithm/smart-attack/smart_attack.py --fail-under=9
          python algorithm/smart-attack/smart_attack.py test
          pylint algorithm/ecpp/binary_quad.py --fail-under=9

      - name: Check Go files
        run: |
          for mod in `go list -f '{{.Dir}}' -m`; do
            cd ${mod}
            echo module=${mod}
            gofmt -l .
            test -z `gofmt -l .`
            go vet ./...
            go build -v ./...
            go test -v ./...
          done
      - name: Check md5-sha1-collision
        run: |
          cd algorithm/md5-sha1-collision
          ./run.sh
